# pnpm settings
# due to pnpm still maturing and community still adopting its best practices
# we can use node-linker=hoisted which structures node_modules like npm
node-linker=hoisted # 2023_08_28: still required for electron-forge w/ pnpm
# saw the pnpm dev mention this as well
auto-install-peers=true

# only as LAST resort if above doesn't work
# shamefully-hoist=true
